<div class="w-screen sm:px-8 md:px-16 sm:py-8 processingPage">
  <div class="container mx-auto max-w-screen-lg h-auto w-1/2 mt-20">
    <div class="h-auto flex flex-col bg-white shadow-xl rounded-md">
      <div class="h-full p-8 w-full flex flex-col">
        <div class="">
          <div class="text-lg text-center font-bold mb-2">
            iTunes Album Cover Retrieval App
          </div>
          <div class="py-1 text-justify h-96">
            <div class="text-md text-center font-bold mt-2">
              Fetching.... Please wait...
            </div>
            <div class="h-full flex justify-center">
              <img class="h-full" src="./loading.gif" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>